*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --margin: 20px;
    --primary: aquamarine;
    --dark: black;
    --cells-row: 10;
}

header{
    display: flex;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.area-logo{
    display: flex;
    align-items: center;
}

.area-logo h1{
    margin-left: var(--margin);
}

.area-buttons{
    display: flex;
    align-items: center;
}


.area-buttons button{
    margin-left: var(--margin);
}

.none{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--primary);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
}

.griglia{
    display: flex;
    width: 450px;
    height: 450px;
    flex-wrap: wrap;
    border: 2px solid var(--dark);
}

.box{
    width: calc(100% / var(--cells-row));
    height: calc(100% / var(--cells-row));
    padding: 10px;
    border: 1px solid var(--dark);
}

.box-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
    padding: 10px;
    border: 1px solid var(--dark);
}

.box-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
    padding: 10px;
    border: 1px solid var(--dark);
}

.box-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
    padding: 10px;
    border: 1px solid var(--dark);
}

.clicked{
    background-color: #6495ED;
}